* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: rgb(26, 26, 26);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 20px;
}

.heading {
  font-size: 3em;
  color: white;
}

.frame {
  margin-top: 60px;
  min-height: 70vh;
  width: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgb(43, 43, 43);
  padding: 20px;
  box-shadow: 0 0 45px 3px rgb(0, 0, 0);
  border-radius: 5px;
}

.add_new {
  display: flex;
  margin-top: 50px;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  flex: 0.3;
}

.show_old {
  margin-top: 50px;
  height: 90%;
  width: 100%;
  flex: 0.7;
  display: flex;
  justify-content: center;
}

.add_input {
  border: 3px solid #2e95aa;
  height: 50px;
  width: 300px;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 25px 3px rgb(22, 22, 22);
}

.add_input input {
  background-color: transparent;
  border: none;
  outline: none;
  color: white;
  font-size: 20px;
}

.add_btn {
  background-color: #2e95aa;
  padding: 12px 30px;
  font-size: 24px;
  border-radius: 3px;
  cursor: pointer;
  color: rgb(231, 231, 231);
  box-shadow: 0 0 25px 3px rgb(22, 22, 22);
}
.add_btn:hover {
  background-color: #3dbfda88;
}

.list_todo {
  list-style-type: none;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 300px;
  /* max-height: 500px ; */
  width: 100%;
  overflow: auto;
  margin-bottom: 40px;
}

.list_todo li {
  display: flex;
  width: 90%;
  margin-top: 20px;
  border-radius: 13px;
  box-shadow: 0 0 25px 3px rgb(22, 22, 22);
  margin-bottom: 10px;
}

.list_element {
  flex: 0.95;
  color: white;
  padding: 20px;
  background-color: rgb(66, 66, 66);
  font-size: 1.5em;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  text-overflow: wrap;
  cursor: pointer;
}

.task_complete {
  color: rgb(42, 231, 42);
  text-decoration: line-through white;
}

.list_element:hover {
  background-color: rgba(66, 66, 66, 0.534);
}
.cross {
  flex: 0.1;
  height: 100%;
  font-size: 1.8em;
  color: white;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  background-color: #2e95aa;
  padding: 15px;
  width: 100%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cross:hover {
  background-color: rgba(207, 42, 42, 0.692);
}

@media (max-width: 600px) {
  .heading {
    font-size: 2em;
  }

  .frame {
    width: 98%;
  }
  .add_input {
    height: 40px;
    width: 170px;
  }
  .add_input input{
      width: 150px;
      font-size: 1em;
  }
  .add_btn {
    height: 40px;
    width: 70px;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .list_element {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    font-size: 20px;
  }
  .cross{
    font-size: 20px;
  }
}
