*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: helvetica;
}

.App{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(48, 48, 48);
    flex-direction: column;
}


.heading{
    color: white;
    font-size: 30px;
}

button{
    padding: 20px;
    margin: 20px;
    font-size: 40px;
    cursor: pointer;
    border: 10px solid blue;
}

.buttons{
    display: flex;
}