body {
  background-image: url(2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

body > div {
  background-color: rgb(255, 255, 255);
  font-family:Arial, Helvetica, sans-serif;
  margin: 30px 450px 10px;
  padding: 60px 60px 100px;
  border-radius: 10px;
  transform: translateX(-300px);
  font-size: 17px;
  box-shadow:  0 8px 10px 0 rgba(0, 0, 0, 0.2), 0 8px 20px 0 rgba(0, 0, 0, 0.19), 10px 10px 200px 10px rgba(175, 175, 175, 0.657);
}
