*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: rgb(66, 66, 66);
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

.heading > h1{
    background-color:rgba(31, 31, 31, 0.966);
    font-size: 5em;
    color: rgb(27, 190, 62);
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0 0 100px 1px rgb(34, 34, 34);
    text-shadow: 5px 5px rgb(23, 255, 166);    
}

.intro{
    margin-top: 50px;
    height: 70vh;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 4px;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.644);
    box-shadow: 0px 0px 100px 1px rgb(17, 17, 17);
}

.main_frame{
    display: flex;
    flex-wrap: wrap;
    margin: 0 100px;
    justify-content: space-evenly;
    align-items: space-evenly;
    max-height: 80%;
    overflow: auto;
}

.score_board{
    margin-top: 10px;
    display: flex;
    background-color: black;
    color: white;
    font-size: 24px;
    padding: 20px;
    width: 60%;
    justify-content: space-around;
}


.play_b, .play_again, .end_moves{
    font-size: 2em;
    padding: 20px;
    color: white;
    background-color: green;
    border-radius: 4px;
    cursor: pointer;
    transition: all 200ms ease-in-out;
    margin-top: 40px;
}
.play_b::selection{
    background-color: rgba(255, 255, 255, 0);
}

.play_b:hover, .play_again:hover{
    background-color: rgb(8, 117, 8);
    box-shadow: 0 0 20px #02803a;
}

.card{
    /* flex-basis: 20%; */
    cursor: pointer;
    height: 120px;
    width: 200px;
    background-color: rgba(0, 0, 0, 0);
    margin: 10px;
    transition: all 500ms ease-in-out;
    color: white;
    perspective: 700px;
}

.card_front, .card_back{
    position: absolute;
    height: 120px;
    width: 200px;
    justify-content: center;
    align-items: center;
    backface-visibility: hidden;
    background-color: black;
}

.card_front{
    display: flex;
}

.end_moves{
    background-color: rgb(63, 61, 65);
}


.card_inner{
    position: relative;
    transition: transform 800ms;
    transform-style: preserve-3d;
}

.card_back{
    color: white;
    transform: rotateY(180deg);
}

.card_back img{
    height: 120px;
    width: 200px;
    object-fit: contain;
}

.card_text{

    font-size: 2em;
    font-weight: bold;
    letter-spacing: 2px;
    color: rgb(23, 255, 166);
}

.card_text::selection{
    background-color: transparent;
}

.rotate{
    transform:rotateY(180deg);
    pointer-events: none;
}




@media all and  (max-width: 600px){
    .heading > h1{
        font-size: 3em;
        text-shadow: 4px 4px rgb(23, 255, 166);
    }

    .intro{
        width: 95%;
        height: 75vh;
    }
    .main_frame{
        margin: 10px;
    }

    .score_board{
        font-size: 1em;
    }

    .play_b, .play_again, .end_moves{
        font-size: 1em;
    }

    .card, .card_front, .card_back, .card_back img{
        height: 50px;
        width: 70px;
    }
}